<% layout("/layouts/boilerplate") -%>

<body>
   
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let list of alllisting){%>
  <%
    const imageUrl = (list.image && list.image.url)
      ? list.image.url
      : "https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?auto=format&fit=crop&w=900&q=60";
  %>
   <a href="/listing/<%=list._id%>/show" style="text-decoration: none;">

            <div class="card col listing-card" >
  <img src="<%= imageUrl %>" class="card-img-top" alt="Listing image" style="height:20rem">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
      <b> <%=list.title%><br></b>
        &#8377; <%=list.price%>/Night
    </p>
  </div>
</div>
   </a>
 <%}%>
    </div>
    
   
</body>
